@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background: #f7f7f9;
  margin: auto;
}

.headr {
  background: #fff;
  padding: 26px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headr .logo .log {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin-left: 60px;
}

.headr .logo .fa-bars {
  display: none;
  font-size: 23px;
}

.headr .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
  margin-right: 60px;

  /* animation changes */
}

.headr .navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #344563;
  text-transform: capitalize;
  transition: text-decoration  1s;
}

.headr .navbar a:hover {
  text-decoration: underline;
  color: blue;
  letter-spacing: 2px;
}

.headline {
  height: 846px;
  justify-content: center;
  gap: 12px;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 260px 0 260px;
  padding-top: 287px;
  padding-bottom: 243px;
  background-image: url(unt/Header\ bg.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 4s;
  animation-name: headtext;
}

@keyframes headtext {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.headline h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  padding-bottom: 12px;
}

.headline p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #344563;
  padding-bottom: 12px;
}

.headline .connct {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.headline .list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 12px;
  gap: 12px;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 142px;
  gap: 142px;
  background: #f7f7f9;
}

.work .box {
  display: grid;
  grid-template-columns: 544px 544px;
  gap: 22px;
  text-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.work .box:hover {
  box-shadow: 1px 1px 3px grey;
}

.work .box .image {
  margin: 24px 0 24px 22px;
}

.work .box .image img {
  width: 520px;
  height: 460px;
}

.work .box .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  margin: 24px 22px 27px 0;
  width: 520px;
  height: 450px;
}

.work .box .content .heading {
  display: flex;
  text-transform: capitalize;
  align-self: flex-start;
  width: 496px;
  height: 46px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.work .box .content .exper {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.work .box .content .exper .comp {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-transform: capitalize;
}

.work .box .content .exper .comp1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
  text-transform: capitalize;
}

.work .box .content p {
  display: flex;
  text-align: left;
  width: 496px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.work .box .content .tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.work .box .content .tags .language {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-transform: lowercase;
}

.btn {
  margin-bottom: 140px;
  padding: 12px;
  width: 124px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  background: #fff;
  color: #396df2;
}

.btn:hover {
  color: #fff;
  background: #396df2;
  cursor: pointer;
}

.work .box1 {
  display: grid;
  grid-template-columns: 544px 544px;
  grid-column: 2;
  gap: 22px;
  text-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.work .box1:hover {
  box-shadow: 1px 1px 3px grey;
}

.work .box1 .image {
  flex: 1 1 17rem;
  margin: 24px 22px 27px 0;
  order: 2;
}

.work .box1 .image img {
  width: 520px;
  height: 450px;
}

.work .box1 .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  flex: 1 1 17rem;
  margin: 24px 0 24px 22px;
  height: 450px;
  width: 520px;
}

.work .box1 .content .heading {
  display: flex;
  align-self: flex-start;
  width: 496px;
  height: 46px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-transform: capitalize;
  color: #091e42;
}

.work .box1 .content .exper {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.work .box1 .content .exper .comp {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-transform: capitalize;
}

.work .box1 .content .exper .comp1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
  text-transform: capitalize;
}

.work .box1 .content p {
  display: flex;
  text-align: left;
  width: 496px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.work .box1 .content .tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.work .box1 .content .tags .language {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.about {
  display: flex;
  justify-content: center;
  background: #fff;
  border-top-right-radius: 169px;
}

.about-box {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.about-box .about_myself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 142px;
  margin-bottom: 134px;
}

.about-box .about_myself .title-me {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-transform: capitalize;
  width: 447px;
  height: 114px;
}

.about .about_myself .about-me {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  width: 447px;
  height: 102px;
}

.about .about_myself .conn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.about .about_myself .conn .connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.about .about_myself .conn ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  list-style: none;
}

.about .about_myself .conn ul li {
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.about .about_myself input {
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  width: 162px;
  margin-top: 24px;
}

.about .about_myself input:hover {
  background: #396df2;
  color: #fff;
}

.about .skills_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  gap: 12px;
  margin-top: 142px 142px 0 0;
  margin-bottom: 166px;
  padding-top: 142px;
}

.about .skills_list .box {
  padding: 24px 12px;
  width: 100%;
}

.about .skills_list .box .lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 12px;
  padding-left: 0;
}

.about .skills_list .box-side h3 {
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
}

.about .skills_list .box .lang h3 {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.about .skills_list .box .box_drop ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 414px;
  height: 144px;
}

.about .skills_list .box .box_drop ul li {
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 120px;
  background: #f7f7f9;
  border-radius: 8px;
  gap: 16px;
  margin: 12px;
  padding: 9px;
}

.about .skills_list .box .box_drop ul li img {
  width: 48px;
  height: 48px;
}

.about .skills_list .box .box_drop ul li p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #253858;
}

.about .skills_list .box-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 684px;
  height: 72px;
  padding: 24px 12px;
  border-bottom: 1px solid #dfe1e6;
}

.contact {
  background: #6070ff;
  border-top-left-radius: 120px;
}

.container {
  background-image: url(unt/contact\ form\ background\ shapes@2x.png);
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-bottom: 12px;
  color: #fff;
  margin-top: 142px;
}

.contentt {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 0 24px 0 24px;
  margin-bottom: 10px;
  width: 569px;
  height: 102px;
}

#name,
#email {
  margin-bottom: 20px;
  width: 447px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 15px;
}

#text-box {
  width: 447px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  resize: none;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit .button {
  align-items: center;
  padding: 16px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;
  color: #6070ff;
  text-transform: capitalize;
  width: 140px;
  background: #fff;
  margin-top: 22px;
  margin-bottom: 45px;
}

.submit .button:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #cfd8dc;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 55%;
  }

  .headline {
    padding: 150px;
  }

  .work .box {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 12px;
    background: #fff;
  }

  .work .box .image img {
    width: 425px;
    height: 420px;
  }

  .work .box .content {
    width: 450px;
    margin-right: 15px;
  }

  .work .box .content .heading {
    width: 100%;
  }

  .work .box .content p {
    width: 100%;
  }

  .work .box1 {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 12px;
    background: #fff;
    width: 930px;
  }

  .work .box1 .image img {
    width: 425px;
    height: 420px;
  }

  .work .box1 .image {
    margin: 15px;
  }

  .work .box1 .content {
    width: 450px;
    margin: 15px;
  }

  .work .box1 .content .heading {
    width: 100%;
  }

  .work .box1 .content p {
    width: 100%;
  }

  .about-box {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 12px;
    background: #fff;
    width: 100%;
  }

  .about-box .about_myself {
    padding: 0;
    gap: 12px;
    margin: 24px;
    width: 450px;
  }

  .about .about_myself .about-me {
    font-size: 16px;
    width: 100%;
  }

  .about .skills_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 0;
    width: 450px;
    margin: 24px;
  }

  .about .skills_list .box .lang {
    width: 100%;
    padding-left: 0;
  }

  .about .skills_list .box .box_drop ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .about .skills_list .box-side {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .headline {
    background-image: url(unt/Header\ bg.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #fff;
  }

  .about .skills_list .box .box_drop ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    height: 300px;
  }

  .about .skills_list .box .box_drop ul li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
    width: 100%;
    margin-top: 12px;
  }

  .work .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 12px;
    background: #fff;
  }

  .work .box .image {
    margin: 16px 16px;
    width: 95%;
  }

  .work .box .image img {
    width: 100%;
  }

  .work .box .content {
    width: 95%;
    padding-top: 0;
    margin-top: 0;
    column-gap: 12px;
  }

  .work .box1 {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    justify-content: center;
    gap: 12px;
    background: #fff;
  }

  .work .box1 .image {
    margin: 16px 16px;
    width: 95%;
  }

  .work .box1 .image img {
    width: 100%;
  }

  .work .box1 .content {
    width: 95%;
    padding-top: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .headr {
    padding: 14px 7%;
  }

  .headr .logo .log {
    margin-left: -10px;
  }

  .headr .logo .fa-bars {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 90%;
  }

  .headr .navbar {
    flex-flow: column;
    padding: 2rem;
    display: none;
  }

  .headline {
    background-image: url(unt/header-shapes\ mobile.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 114px 24px;
  }

  .work .box,
  .work .box1 {
    width: 500px;
  }

  .work .box .content .heading,
  .work .box1 .content .heading {
    font-size: 32px;
  }

  .work .box .content {
    height: 325px;
  }

  .work .box1 .content {
    height: 325px;
  }

  .contact {
    border-top-left-radius: 75px;
  }

  .title {
    margin-top: 103px;
  }

  .contentt {
    margin-bottom: 100px;
    width: 327px;
  }

  #name,
  #email,
  #text-box {
    width: 327px;
  }

  .submit {
    display: flex;
    justify-content: flex-start;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #fff;
  }

  .about-box .about_myself {
    padding: 0;
    gap: 12px;
    margin: 24px;
    margin-top: 114px;
  }

  .about .skills_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 113px;
    padding-top: 0;
  }

  .about .skills_list .box .lang {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .about .skills_list .box .box_drop ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    height: 300px;
  }

  .about .skills_list .box-side {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .headline {
    background-image: url(unt/header-shapes\ mobile.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    background-image: url(unt/contact\ form\ shapes-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .work .box,
  .work .box1 {
    width: 325px;
  }

  .work .box .image img,
  .work .box1 .image img {
    width: 295px;
    height: 220px;
  }

  .work .box1 .content .heading {
    display: flex;
    text-align: start;
    font-size: 32px;
    width: 250px;
    height: 80px;
  }

  .work .box .content .exper,
  .work .box1 .content .exper {
    gap: 8px;
  }

  .work .box .content .exper .comp,
  .work .box1 .content .exper .comp {
    font-size: 13px;
    color: #344563;
  }

  .work .box .content .exper .comp1,
  .work .box1 .content .exper .comp1 {
    font-size: 13px;
  }

  .work .box .content .btn {
    margin-bottom: 24px;
    padding-bottom: 20px;
    font-size: 17px;
  }

  .work .box .content .exper {
    margin-top: -20px;
  }

  .work .box .content p {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .work .box1 .content p {
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .work .box .content {
    height: 290px;
  }

  .work .box1 .content {
    height: 350px;
  }

  .about-box {
    margin: 7px;
    width: 100%;
  }

  .about-box .about_myself {
    width: 100%;
    padding: 20px;
  }

  .about-box .about_myself h1 {
    font-size: 35px;
    width: 100%;
  }

  .about .about_myself .about-me {
    font-size: 16px;
    width: 100%;
  }

  .about .about_myself .conn .connect {
    margin-top: 19px;
  }

  .about .skills_list {
    width: 100%;
  }

  .about .skills_list .box .lang {
    width: 100%;
  }

  .about .skills_list .box .box_drop ul {
    width: 100%;
  }

  .about .skills_list .box .box_drop ul li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-top: 12px;
    width: 100%;
  }

  .about .skills_list .box-side {
    width: 100%;
  }
}
