@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  margin: 0;
}

body {
  background: #f7f7f9;
  margin: 0;
  overflow-x: hidden;
}

.headr {
  background: #fff;
  padding: 26px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.headr .logo .log {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin-left: 60px;
}

.headr .logo .log:hover {
  text-decoration: underline;
}

.headr .logo .log:active {
  color: #472999;
}

.headr .logo .fa-bars {
  display: none;
  font-size: 2.7rem;
}

.headr .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
  margin-right: 60px;

  /* animation changes */
}

.headr .navbar .links {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #344563;
  text-transform: capitalize;
  transition: text-decoration  1s;
}

.headr .navbar .links:hover {
  text-decoration: underline;
  color: blue;
  letter-spacing: 2px;
}

.headline {
  height: 846px;
  justify-content: center;
  gap: 12px;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 260px 0 260px;
  padding-top: 287px;
  padding-bottom: 243px;
  background-image: url(unt/Header\ bg.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: 4s;
  animation-name: headtext;
}

@keyframes headtext {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.headline h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  padding-bottom: 12px;
}

.headline p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #344563;
  padding-bottom: 12px;
}

.headline .connct {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.headline .list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 12px;
  gap: 12px;
}

/* old work section */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 142px;
  gap: 142px;
  background: #f7f7f9;
}

/* new work card */
.box-card {
  display: grid;
  grid-template-columns: 544px 544px;
  gap: 22px;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.box-card .image {
  flex: 1 1 40rem;
  margin: 24px 0 24px 22px;
  width: 100%;
}

.box-card .image > img {
  width: 520px;
  height: 460px;
}

.box-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 15px;
  margin: 24px 22px 27px 0;
  width: 520px;
  height: 450px;
}

.box-card .content .heading {
  display: flex;
  text-transform: capitalize;
  align-self: flex-start;
  width: 496px;
  height: 46px;
  font-weight: 700;
  font-size: 40px;
  line-height: 35px;
  color: #091e42;
}

.box-card .content .exper {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.exper-modal .comp {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-transform: capitalize;
}

.box-card .content .exper .comp {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-transform: capitalize;
}

.exper-modal .dot {
  color: #6b778c;
  font-size: 35px;
}

.box-card .content .exper .dot {
  color: #6b778c;
  font-size: 35px;
}

.exper-modal .comp1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
  text-transform: capitalize;
}

.box-card .content .exper .comp1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
  text-transform: capitalize;
}

.box-card .content p {
  align-items: flex-start;
  width: 496px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.box-card .content .tags {
  list-style: none;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.tags-modal .language {
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.box-card .content .tags .language {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-transform: lowercase;
}

.box-card .content .btn {
  display: flex;
  margin-top: 14px;
  padding: 12px;
  width: 124px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  background: #fff;
  color: #396df2;
}

.box-card .content .btn:hover {
  color: #fff;
  background: #396df2;
  cursor: pointer;
}

/* modal styling */
.modal-container {
  margin: 16px;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  height: 89%;
  left: 250px;
  right: 250px;
  top: 55px;
  display: none;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.title-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 0;
  padding-bottom: 0;
  font-size: 32px;
  font-weight: 700;
}

.title-modal .close-modal .fa-times {
  font-size: 30px;
  background-color: #fff;
  color: #67798e;
}

.exper-modal {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  height: 36px;
  gap: 12px;
  margin-top: -10px;
}

/* .exper-modal .comp {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-transform: capitalize;
} */

/* .exper-modal .comp1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
  text-transform: capitalize;
} */

/* .exper-modal .dot {
  color: #6b778c;
  font-size: 35px;
} */

.project-image {
  width: 100%;
  height: 65%;
}

.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.tags-modal {
  gap: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  list-style: none;
}

/* .tags-modal .language {
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
} */

.btns-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 22px;
}

.btns1 {
  flex: 1 1 17rem;
  align-items: center;
  padding: 12px 22px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btns2 {
  flex: 1 1 17rem;
  align-items: center;
  flex-direction: row;
  padding: 12px 22px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btns1 .btn-seeLive,
.btns2 .btn-seeSource {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 58px;
  text-align: center;
  color: #396df2;
}

.btns1 #btn-icon {
  color: #6070ff;
  margin-left: 13px;
  font-size: 13px;
}

.btns2 #btn-gitIcon {
  color: #6070ff;
  font-size: 13px;
  margin-left: 3px;
}

.btns2 #btn-gitIcon:hover {
  transform: scale(1.1);
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #c1c7d0;
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
}

.about {
  display: flex;
  justify-content: center;
  background: #fff;
  border-top-right-radius: 169px;
}

.about-box {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.about-box .about_myself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 142px;
  margin-bottom: 134px;
}

.about-box .about_myself .title-me {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-transform: capitalize;
  width: 447px;
  height: 114px;
}

.about .about_myself .about-me {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  width: 447px;
  height: 102px;
}

.about .about_myself .conn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.about .about_myself .conn .connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.about .about_myself .conn ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  list-style: none;
}

.about .about_myself .conn ul li {
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.about .about_myself input {
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  width: 162px;
  margin-top: 24px;
}

.about .about_myself input:hover {
  background: #396df2;
  color: #fff;
}

.about .skills_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  gap: 12px;
  margin-top: 142px 142px 0 0;
  margin-bottom: 166px;
  padding-top: 142px;
}

.about .skills_list .box {
  padding: 24px 12px;
  width: 100%;
}

.about .skills_list .box .lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 12px;
  padding-left: 0;
}

.about .skills_list .box-side h3 {
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
}

.about .skills_list .box .lang h3 {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.about .skills_list .box .box_drop ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 414px;
  height: 144px;
}

.about .skills_list .box .box_drop ul li {
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 120px;
  background: #f7f7f9;
  border-radius: 8px;
  gap: 16px;
  margin: 12px;
  padding: 9px;
}

.about .skills_list .box .box_drop ul li img {
  width: 48px;
  height: 48px;
}

.about .skills_list .box .box_drop ul li p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #253858;
}

.about .skills_list .box-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 684px;
  height: 72px;
  padding: 24px 12px;
  border-bottom: 1px solid #dfe1e6;
}

.contact {
  background: #6070ff;
  border-top-left-radius: 120px;
}

.container {
  background-image: url(unt/contact\ form\ background\ shapes@2x.png);
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-bottom: 12px;
  color: #fff;
  margin-top: 142px;
}

.contentt {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 0 24px 0 24px;
  margin-bottom: 10px;
  width: 569px;
  height: 102px;
}

#name,
#email {
  margin-bottom: 20px;
  width: 447px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 15px;
}

#text-box {
  width: 447px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  resize: none;
}

#name:focus,
#email:focus,
#text-box:focus {
  border: 2px solid #ff702e;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit .button {
  align-items: center;
  padding: 16px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;
  color: #6070ff;
  text-transform: capitalize;
  width: 140px;
  background: #fff;
  margin-top: 22px;
  margin-bottom: 45px;
}

.submit .button:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #cfd8dc;
  cursor: pointer;
}

@media screen and (min-width: 1250px) {
  .flex-sidebar {
    display: flex;
    gap: 12px;
  }

  .btns1,
  .btns2 {
    flex: 1 1 6rem;
    font-size: 13px;
    text-align: start;
    padding-left: 4px;
  }

  .flex-sidebar .desc {
    width: 65%;
  }

  .flex-sidebar .side {
    width: 30%;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 55%;
  }

  .headline {
    padding: 150px;
  }

  .box-card {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 12px;
    background: #fff;
  }

  .box-card .image img {
    width: 425px;
    height: 420px;
  }

  .box-card .content {
    width: 450px;
    margin-right: 15px;
  }

  .box-card .content .heading {
    width: 100%;
  }

  .box-card .content p {
    width: 100%;
    margin-top: -10px;
  }

  .box-card .content .tags {
    list-style: none;
    margin-top: 140px;
  }

  .about-box {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 12px;
    background: #fff;
    width: 100%;
  }

  .about-box .about_myself {
    padding: 0;
    gap: 12px;
    margin: 24px;
    width: 450px;
  }

  .about .about_myself .about-me {
    font-size: 16px;
    width: 100%;
  }

  .about .skills_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 0;
    width: 450px;
    margin: 24px;
  }

  .about .skills_list .box .lang {
    width: 100%;
    padding-left: 0;
  }

  .about .skills_list .box .box_drop ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .about .skills_list .box-side {
    width: 100%;
  }

  .project-description {
    font-size: 12px;
  }

  .project-image {
    height: 55%;
  }

  .flex-sidebar {
    gap: 12px;
  }

  .flex-sidebar .side {
    margin-top: 7px;
  }

  .flex-sidebar .side .tags-modal {
    margin-bottom: 15px;
  }

  .btns-modal {
    border-top: 1px solid #ebecf0;
  }
}

@media screen and (max-width: 998px) {
  .headline {
    background-image: url(unt/Header\ bg.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #fff;
  }

  .about .skills_list .box .box_drop ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    height: 300px;
  }

  .about .skills_list .box .box_drop ul li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
    width: 100%;
    margin-top: 12px;
  }

  .box-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 12px;
    background: #fff;
  }

  .box-card .image {
    margin: 16px 16px;
    width: 95%;
  }

  .box-card .image img {
    width: 100%;
  }

  .box-card .content {
    width: 95%;
    padding-top: 0;
    margin-top: 0;
    column-gap: 12px;
  }

  .box-card .content p {
    margin-top: 0;
  }

  .box-card .content .tags {
    margin-top: 125px;
  }

  .modal-container {
    margin: 16px;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    height: 95%;
    left: 5%;
    right: 5%;
    top: 0;
    display: none;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .project-image {
    width: 100%;
    height: 58%;
  }

  .btns-modal {
    border-top: 1px solid #ebecf0;
  }

  .flex-sidebar {
    gap: 12px;
  }

  .flex-sidebar .side {
    margin-top: 7px;
  }

  .flex-sidebar .side .tags-modal {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .headr {
    padding: 14px 7%;
  }

  .headr .logo .log {
    margin-left: -10px;
  }

  .headr .logo .fa-bars {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 90%;
    z-index: 1;
    color: #6070ff;
  }

  #menuBttn.active {
    color: white;
  }

  .headr .navbar {
    position: fixed;
    top: 5%;
    left: -100%;
    padding-left: 28px;
    padding-top: 50px;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 100%;
  }

  .headr .navbar.active {
    left: 0;
    top: 0;
    background-color: rgba(97, 113, 255, 0.8);
    backdrop-filter: blur(8px);
    height: 100vh;
  }

  .headr .navbar .links {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
  }

  .headline {
    background-image: url(unt/header-shapes\ mobile.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 114px 24px;
  }

  .box-card {
    width: 500px;
  }

  .box-card .content .heading {
    font-size: 32px;
  }

  .box-card .content .tags {
    margin-top: 110px;
  }

  /* modal styling */

  .title-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0;
    padding-bottom: 0;
    font-size: 32px;
    font-weight: 700;
  }

  .title-modal .close-modal .fa-times {
    font-size: 30px;
    background-color: #fff;
    color: #67798e;
  }

  .exper-modal {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    height: 36px;
    gap: 12px;
    margin-top: -10px;
  }

  .exper-modal .comp {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    text-transform: capitalize;
  }

  .exper-modal .comp1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6b778c;
    text-transform: capitalize;
  }

  .exper-modal .dot {
    color: #6b778c;
    font-size: 35px;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .tags-modal {
    gap: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .tags-modal .language {
    padding: 4px 12px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .btns-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border-top: 1px solid #ebecf0;
    padding-top: 22px;
  }

  .btns1 {
    flex: 1 1 17rem;
    align-items: center;
    padding: 12px 22px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .btns2 {
    flex: 1 1 17rem;
    align-items: center;
    flex-direction: row;
    padding: 12px 22px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .btns1 .btn-seeLive,
  .btns2 .btn-seeSource {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 58px;
    text-align: center;
    color: #396df2;
  }

  .btns1 #btn-icon {
    color: #6070ff;
    margin-left: 13px;
    font-size: 13px;
  }

  .btns2 #btn-gitIcon {
    color: #6070ff;
    font-size: 13px;
    margin-left: 3px;
  }

  .btns2 #btn-gitIcon:hover {
    transform: scale(1.1);
  }

  .contact {
    border-top-left-radius: 75px;
  }

  .title {
    margin-top: 103px;
  }

  .contentt {
    margin-bottom: 100px;
    width: 327px;
  }

  #name,
  #email,
  #text-box {
    width: 327px;
  }

  .submit {
    display: flex;
    justify-content: flex-start;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #fff;
  }

  .about-box .about_myself {
    padding: 0;
    gap: 12px;
    margin: 24px;
    margin-top: 114px;
  }

  .about .skills_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 113px;
    padding-top: 0;
  }

  .about .skills_list .box .lang {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .about .skills_list .box .box_drop ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    height: 300px;
  }

  .about .skills_list .box-side {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .headline {
    background-image: url(unt/header-shapes\ mobile.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    background-image: url(unt/contact\ form\ shapes-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .box-card {
    width: 325px;
  }

  .box-card .image {
    height: 100vh;
    padding-bottom: -50px;
  }

  .box-card .image img {
    width: 295px;
    height: auto;
    margin-bottom: -30px;
  }

  .box-card .content {
    margin-top: -100px;
  }

  .box-card .content p {
    font-size: 13px;
    margin-top: -10px;
  }

  .box-card .content .tags {
    margin-top: 190px;
  }

  .about-box {
    margin: 7px;
    width: 100%;
  }

  .about-box .about_myself {
    width: 100%;
    padding: 20px;
  }

  .about-box .about_myself h1 {
    font-size: 35px;
    width: 100%;
  }

  .about .about_myself .about-me {
    font-size: 16px;
    width: 100%;
  }

  .about .about_myself .conn .connect {
    margin-top: 19px;
  }

  .about .skills_list {
    width: 100%;
  }

  .about .skills_list .box .lang {
    width: 100%;
  }

  .about .skills_list .box .box_drop ul {
    width: 100%;
  }

  .about .skills_list .box .box_drop ul li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-top: 12px;
    width: 100%;
  }

  .about .skills_list .box-side {
    width: 100%;
  }
}
